<footer class="footer">
  <small>
    <%= t ".the" %> <a href="http://www.railstutorial.org/"><%= t ".new4" %></a>
    <%= t ".by" %> <a href="http://www.michaelhartl.com/"><%= t ".new5" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".new7"), about_path %></li>
      <li><%= link_to t(".new8"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".new6" %></a></li>
    </ul>
  </nav>
</footer>
