<footer class="footer">
  <small>
    <%= the %> <a href="http://www.railstutorial.org/"><%= new4 %></a>
    <%= by %> <a href="http://www.michaelhartl.com/"><%= new5 %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to <%= new7 %>, <%= about_path %> %></li>
      <li><%= link_to <%= new8 %>, <%= contact_path %> %></li>
      <li><a href="http://news.railstutorial.org/"><%= new6 %></a></li>
    </ul>
  </nav>
</footer>
